*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFF2C2;  
    --secondary-color:#FFFDF0;
    --third-color:#EFF3EA;
    --fourth-color:#D9DFC6;
}
  
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.hide{
    display: none;
}
/* forms */
.title{
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}
.form {
    display: flex;
    flex-direction: column;
    background-color:var(--fourth-color);
    border-radius: 1rem;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.form-title{
    font-size: 3rem;
    font-weight: bold;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;
}
.form-input label{
    font-size: 2rem;
}
.form-input input{
    border-radius: .5rem;
    border: 2px solid var(--fourth-color);
    height: 2.5rem;
    padding: 1.3rem;
}
.form-input input:focus{
   outline: none;
   border-color:var(--primary-color);
}
.submit-btn{
    width: 60%;
    padding: 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
.submit-btn p{
    font-size: 1.1em;
    font-weight: bolder;
    padding: .2em;
}

.message{
    font-size: 2rem;
    font-weight: bold;
}
.error-color{
    color: red;
}
.link-form{
    font-size: 14px;
}
.login-signup-body{
    height: 100vh;
    background-color: #FFF2C2;
}
/* end forms */
/* NavBar */
.navbar{
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    height: 5rem;
}
.border{
    border-bottom: 3px solid var(--fourth-color);
    width: 80%;
    margin: 0 auto;
}
.nav-btn{
    padding: 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
.nav-btn p{
    font-size: 1em;
    font-weight: 300;
    padding: .2em;
}
/* End Navbar */

/* search bar */
.search-container{
    margin: 1rem 0;
    background-color: var(--third-color);
    width: 70%;
    border-radius: 2rem;
}
.add-icon{
    margin: 0 1rem;
}
/* end search bar */

.container{
    width: 90%;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Q/A cards */
.card{
    width: 40%;
    height: 20rem;
    background-color: var(--secondary-color);
    font-size: 18px;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;        
    text-overflow: ellipsis; 

}

.card-question{
    padding: 1em;
    font-weight: 700;

}
.card-answer p{
    width: 100%;
    padding: 0.6em;
    font-size:0.9em;
}

.card:hover{
    height: fit-content;
    overflow: visible;        
    text-overflow: none; 
}

.QA-input input {
    height: 5rem;
}
.hidden {
    display: none;
}

footer{
    margin: 1rem 0;
}

@media (min-width:0) and (max-width:720px) {
    .form{
        width: 60%;
        height: 50%;
    }
    .title{
        font-size: 2rem;
    }
    .form-title{
        font-size: 2rem;
    }
    .form-input label, .form-input input{
        font-size: 1rem;
    }
    .container{
        flex-direction: column;
    }
    .card{
        width: 80%;
        font-size: 15px;
    }
    .card:hover{
        overflow: visible;        
        text-overflow: none; 
        height: 20rem;
    }
    .QA-input input {
        height: 3rem;
    }
}